<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ Titre }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse"><!--
      <form method="POST" action="" class="d-flex" style="position: relative;top: 130px; left: 100px; width: 700px">
          }<br>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form><br>-->

    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <form method="POST" action="" class="d-flex">
        {% csrf_token %}
        {{ formScrap }}<br>
        <a href="/scrap">
            <button style="position: relative;left: 430px" class="btn btn-outline-success" type="button">Scraper seneweb</button>
        </a>
      </form>
    </div>
  </div>
</nav>